<section>
   <div col-sm-12>
        <h4 class="pad-10">Recently Searched Movies Movies</h4>
   </div>    
    <div class="row">
        <div class="col-sm-3"> &nbsp; </div>
        <div class="col-sm-7"> Title </div>
        <div class="col-sm-2"> Year  </div>
    </div>
</section>
<section>       
        <ul id="movie-list" class="form list list-unstyled">
            <li class="row" template="ngFor let movie of movies; #i = index">
                <div class="col-sm-12">
                        <div class="col-sm-3"> <img class="poster" src="{{movie.poster}}" /> </div>
                        <div class="col-sm-7 title"> <a href='/movies/{{movie.imdb}}'> {{movie.title}} </a> </div>
                        <div class="col-sm-2"> {{movie.year}}   </div>
                </div>
            </li>
        </ul>
</section>
